*{
    font-size: 12pt;
}

.sortable li, #edit_sections li {
    width: 100%;
    min-height: 45px;
    margin: 10px 0px !important;
    color: #fff;
    text-align: center;
    /*line-height: 45px;*/
    overflow-x: hidden;
    cursor: pointer;
}

#drop_sections li {
    width: 100%;
    min-height: 45px;
    margin: 10px 0px !important;
    color: #999;
    background-color: #3d4954 !important;
    text-align: center;
    /*line-height: 45px;*/
    overflow-x: hidden;
    cursor: pointer;
}

#drop_sections{
    padding: 0 10px;
    border: 4px dashed #999;
    min-height: 50px;
}

.pg-btn-container button{
    margin: auto;
    width: 350px;
    margin: 5px;
    font-weight: bold;
}

.dropdown-menu{
    border: 1px solid #2B3E50;
}

.drop_item{
    color: #d9534f;
    cursor: pointer;
}

.drop_item:hover{
    color: #df691a;
}

.drop_item:active{
    color: #f0ad4e;
}

.ui-combobox-size{
    max-height: 400px;
    overflow-y: scroll;
}

.ui-autocomplete {
    max-height: 400px;
    width: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

.add-menu-sortable-active{
    box-shadow: 0 0 10px #df691a;
}

.glyphicon-arrow-down:hover, .glyphicon-arrow-up:hover{
    box-shadow: 0 0 7px #df691a;
    cursor: pointer;
}

.glyphicon-arrow-down:active, .glyphicon-arrow-up:active{
    color: #2B3E50;
}

.menu_loader{
    position: relative;
    left: 50%;
    margin-left: -32px;
}

