* {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    outline: none !important;
}
/* ----------------------------------------------------------------
    Содержание:
    ---------------------------------------------------------------

    1. Основные блоки конструкции
    2. Новости



*/


/*---------------- 1. ОСНОВНЫЕ БЛОКИ КОНСТРУКЦИИ  ---------------------------*/
p {
   text-indent: 20px;
}

blockquote {
    line-height: 10px;
    margin: 2px 0;
}

.head-hr{
    margin: 3px 0 0;
    color: #df691a;
    border: none; /* Убираем границу для браузера Firefox */
    background-color: #df691a;; /* Цвет линии для браузера Firefox и Opera */
    height: 6px; /* Толщина линии */
}

.site-header{
    border-bottom: 1px solid #4E5D6C;
    margin-bottom: 15px;
}

.right-header{
    padding: 18px;
}

.search-btn {
    height: 39px;
    padding: 9px 15px;
}



/*------------------------------- 2. НОВОСТИ  -------------------------------*/
.news-block{
    border-bottom: 2px dotted #4E5D6C;
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-height: 100px;
}

.news-title{
    background-color: #4E5D6C;
    padding-left: 8px;
    margin-top: 0px;
    border-left:9px solid #df691a;
    color: #ebebeb;
}

.news-title:hover{
    color: #df691a;
}

.news-block-main a:hover{
    text-decoration: none;
}

.news-mini-img-div{
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
}

.news-mini-img{
    width: 100px;
    float: left;
    display: block;
}

.news-block-main{
    margin-left: 110px;
}

.pills-content{
    display: none;
}

.pills-content>.pill-pane{
    display: none;
}

#datepicker>.ui-datepicker{
    width:100%;
}

